.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    background-color: $bg-header;
    margin-bottom: 50px;
    &_logo {
        margin-left: 30px;
    }
    &_panier {
        display: flex;
        align-items: flex-end;
        margin-right: 30px;
        margin-bottom: 5px;
        width: 100px;
        a {
            color: black;
            text-decoration: none;
        }
    }
    .fa-shopping-cart {
        font-size: 30px;
    }
    &_panier-count {
        display: inline-flex;
        position: relative;
        justify-content: center;
        top: -20px;
        left: -18px;
        width: 23px;
        background-color: gray;
        border-radius: 50%;
        color: white;
        font-size: 1.2rem;
    }
}