.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    background-color: $bg-header;
    margin-bottom: 50px;
    &_logo {
        margin-left: 30px;
    }
    &_panier {
        display: flex;
        align-items: flex-end;
        margin-right: 30px;
        margin-bottom: 5px;
        width: 100px;
    }
    .fa-shopping-cart {
        font-size: 20px;
    }
}