@font-face {
    font-family: 'finger_paintregular';
    src: url('fingerpaint-regular-webfont.woff2') format('woff2'),
         url('fingerpaint-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}