//color
$bg-header: #f3e9f1;

// Police
$finger-titre : 'finger_paintregular', Helvetica, Arial, sans-serif;
$devon-titre: 'Devonshire-Regular', Helvetica, Arial, sans-serif;
$braydon-titre: 'braydon_scriptregular', Helvetica, Arial, sans-serif;